/* *, *::before, *::after {
  box-sizing: border-box;
  box-sizing: inherit;
} */

:root {
  --background-color: rgb(22, 22, 28);
  --color: white;
  color-scheme: dark;

  /* --background-color: hsl(0, 0%, 98%);
  --color: black;
  color-scheme: light; */

  /* --color2: rgb(173, 195, 255); */
  --font: 'Rubik', sans-serif;
  /* --font: 'SimplonBPMono', Helvetica, Arial, sans-serif; */


  /* menu */
  --bar-width: 25px;
  --bar-height: 2.4px;
  --hamburger-gap: 6px;

  --animation-timing: .2s;
  --anim-delay: calc(var(--animation-timing) / 5);

  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.414);
}

/* @media (prefers-color-scheme: light) { */
/* @media(min-width: 1250px){
  :root {
    --background-color: hsl(0, 0%, 98%);
    --color: black;
    color-scheme: light;
  }
} */


a{
  text-decoration: none;
}
img, video {
  display: block;
  height: auto;
}




html {
  overflow-x: hidden;
}

body{
  position: relative;
  font-family: var(--font);
  background-color: var(--background-color);
  color: var(--color);

  -webkit-tap-highlight-color: transparent;

  /* max-width: 1500px; */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  align-items: center;
}



nav {  
  /* background-color: rgb(54, 54, 54); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  z-index: 1;
  margin: 12px;

  & div {
    margin-inline: 5px;
    
    display: flex;
    pointer-events: auto;
  }
  & div:hover{
    scale: 1.03;
  }
  & div:active{
    scale: 1;
  }
}

.logo{  
  width: min-content;
  & a{
    color: var(--color);
  }
}
/* .titles { 
  margin-left: auto;
  & a{ 
    color: var(--color);
  }
}
.icons img{
  transition: .05s ease;
  height: 23px;
  width: 23px;
  filter: saturate(0) brightness(1.5);
}
.icons img:hover{
  filter: none !important;
  scale: 1.06;
} */











/* info */
.info{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-inline: 20px;
  line-height: 150%;
  margin-bottom: 60px;

  & h3{
    font-size: 19px;
  }
  & p{
    margin-block: 7px;
  }
  & a:hover{
    text-decoration: underline;
  } 
}

.hyphen{
  color: rgb(255, 150, 150);
}

.email{
  display: flex;
  align-items: center;
  & a {
    width: fit-content;
  }
}

.links{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  & div {
    /* text-transform: lowercase; */
    display: flex;
  }
}




footer{
  font-size: 13px;
  opacity: .2;
  margin-block: 10px;
  & a{
    color: var(--color);
  }
  & a:hover{
    text-decoration: underline;
  }
}


.imprint{
  max-width: 1600px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  margin-bottom: 80px;
  margin-inline: 20px;


  & h1, h2, h3, h4, h5, h6{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-inline: 10px;
  }
  & p{
    margin-block: 5px;
    margin-inline: 10px;
  }
}

.center{
  margin: auto;
  padding-bottom: 5%;
  & img, video {
    display: block;
    height: auto;
    max-width: min(500px, 95vw);
    padding-top: 10px;
  }
}